<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ request.META.HTTP_HOST }}
{#    {% get_site_url %}{% url 'email-confirmation' %}?username={{ username }}&confirmation_code={{ confirmation_code}}#}
{#    <h3>Для подтверждения аккаунта, перейдите по <a href="{% get_site_url %}{% url 'email-confirmation' %}?username={{ username }}&confirmation_code={{ confirmation_code}}">ссылке</a></h3>#}
{#    <h3>Если ссылка не активна, перейдите по ссылке - {% get_site_url %}{% url 'email-confirmation' %}?username={{ username }}&confirmation_code={{ confirmation_code}}</h3>#}
</body>
</html>