{% extends 'Cybersport/base.html' %}

{% block title %}
    Новости
{% endblock title %}

{% block body %}
    <div class="container mt-3">
        <h1>{{ title }}</h1>
        <div class="col-md-12">
            {% for new in page_obj %}
                <div class="card mb-3">
                    <div class="card-header">
                        Категория: <a type="button" href="{% url 'category' new.category.slug %}">
                        {% if new.category.name != 'Неизвестно' %}
                            {{ new.category.name }}
                        {% else %}
                             {{ new.category.slug }}
                        {% endif %}
                        </a>
                    </div>
                    <div class="card-header">Автор:
                        {% if new.author %}
                            <a href="{% url "user" username=new.author.username %}">{{ new.author.username }}</a>
                        {% else %}
                            Неизвестен
                        {% endif %}
                    </div>
                    <a href="{% url 'show-post' new.slug %}" class="list-group-item list-group-item-action">
                        <div class="card-body">
                            <h5 class="card-title">{{ new.title }}</h5>
                            <p class="card-text">{{ new.text|truncatewords:50 }}</p>
                        </div>
                    </a>
                    <div class="card-footer text-muted">
                        {{ new.date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
