{% extends 'Cybersport/base.html' %}

{% load static %}

{% block body %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="card mb-3">
                <div class="card-header">Категория:
                    {{ post.category }}
                    {% if user == post.author %}
                        <a type="button" href="{% url 'delete-post' post.slug %}"><button type="button" class="btn-close" aria-label="Close"></button></a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <img src="{{ post.image_url }}" alt="" class="justify-content-center" width="700" height="350">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                    <h5>
                        <span class="badge rounded-pill bg-success">{{ post.rating.likes.count }}</span>
                        <a type="button"
                                {% if user in post.rating.likes %}
                                    href="{% url 'unlike' 'post' post.pk %}"
                                {% else %}
                                    href="{% url 'like' 'post' post.pk %}"
                                {% endif %}>

                                <img width="30" height="30"
                                {% if user in post.rating.likes %}
                                    src="{% static 'Cybersport/liked.png' %}"
                                {% else %}
                                    src="{% static 'Cybersport/like.png' %}"
                                {% endif %}>
                        </a>
                        <span class="badge rounded-pill bg-danger">{{ post.rating.dislikes.count }}</span>
                        <a type="button"
                                {% if user in post.rating.dislikes %}
                                    href="{% url 'undislike' 'post' post.pk %}"
                                {% else %}
                                    href="{% url 'dislike' 'post' post.pk %}"
                                {% endif %}>

                                <img width="30" height="30"
                                    {% if user in post.rating.dislikes %}
                                        src="{% static 'Cybersport/disliked.png' %}"
                                    {% else %}
                                        src="{% static 'Cybersport/dislike.png' %}"
                                    {% endif %}>
                        </a>
                    </h5>
                </div>
                <div class="card-footer text-muted">
                    {{ post.date }}
                </div>
            </div>
        </div>
        <br>
        <h3>Комментарии:</h3>
        {% if user.is_authenticated %}
            <h4>Добавить комментарий:</h4>
            <form action="{% url 'add-comment' post.slug %}" method="POST">
                {% csrf_token %}
                {{ comment_form.text }}
                <br>
                <button type="submit" class="btn btn-primary btn-block mt-15">Подтвердить</button>
            </form>
        {% else %}
            <h4><a href="{% url 'authorization' %}">Авторизуйтесь</a> чтобы оставлять комментарии</h4>
        {% endif %}
        <br>
        <br>
            {% for comment in comments %}
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'user' comment.author.username %}">{{ comment.author }}</a> | {{ comment.created_at }}
                        <h5 style="display: inline">
                            <span class="badge rounded-pill bg-success">{{ comment.rating.likes.count }}</span>
                            {% if user != comment.author %}
                                <a type="button"
                                        {% if user in comment.rating.likes %}
                                   href="{% url 'unlike' 'comment' comment.pk %}"
                                   {% else %}дл
                                   href="{% url 'like' 'comment' comment.pk %}"
                                        {% endif %}>

                                    <img width="30" height="30"
                                            {% if user in comment.rating.likes %}
                                         src="{% static 'Cybersport/liked.png' %}"
                                            {% else %}
                                         src="{% static 'Cybersport/like.png' %}"
                                            {% endif %}>
                                </a>
                            {% endif %}
                            <span class="badge rounded-pill bg-danger">{{ comment.rating.dislikes.count }}</span>
                            {% if user != comment.author %}
                                <a type="button"
                                        {% if user in comment.rating.dislikes %}
                                   href="{% url 'undislike' 'comment' comment.pk %}"
                                        {% else %}
                                   href="{% url 'dislike' 'comment' comment.pk %}"
                                        {% endif %}>

                                    <img width="30" height="30"
                                            {% if user in comment.rating.dislikes %}
                                         src="{% static 'Cybersport/disliked.png' %}"
                                            {% else %}
                                         src="{% static 'Cybersport/dislike.png' %}"
                                            {% endif %}>
                                </a>
                            {% endif %}
                        </h5>
                        {% if user == comment.author %}
                            <a type="button" href="{% url 'delete-comment' comment.pk %}"><button type="button" class="btn-close" aria-label="Close"></button></a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ comment.text }}</p>
                        </blockquote>
                    </div>
                </div>
                <br>
                {% empty %}
                 <h3>Комментариев пока нет</h3>
            {% endfor %}
    <br><br><br><br><br>
{% endblock body %}