{% extends 'Cybersport/base.html' %}

{% load static %}
{% load comments %}

{% block body %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="card mb-3">
                <div class="card-header">Категория:
                    {{ post.category }}
                    {% if user == post.author %}
                        <a type="button" href="{% url 'delete-post' post.slug %}"><button type="button" class="btn-close" aria-label="Close"></button></a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <img src="{{ post.image_url }}" alt="" class="justify-content-center" width="700" height="350">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                    <h5>
                        <span class="badge rounded-pill bg-success">{{ post.rating.likes.count }}</span>
                        <a type="button"
                                {% if user in post.rating.likes %}
                                    href="{% url 'unlike' 'post' post.pk %}"
                                {% else %}
                                    href="{% url 'like' 'post' post.pk %}"
                                {% endif %}>

                                <img width="30" height="30"
                                {% if user in post.rating.likes %}
                                    src="{% static 'Cybersport/liked.png' %}"
                                {% else %}
                                    src="{% static 'Cybersport/like.png' %}"
                                {% endif %}>
                        </a>
                        <span class="badge rounded-pill bg-danger">{{ post.rating.dislikes.count }}</span>
                        <a type="button"
                                {% if user in post.rating.dislikes %}
                                    href="{% url 'undislike' 'post' post.pk %}"
                                {% else %}
                                    href="{% url 'dislike' 'post' post.pk %}"
                                {% endif %}>

                                <img width="30" height="30"
                                    {% if user in post.rating.dislikes %}
                                        src="{% static 'Cybersport/disliked.png' %}"
                                    {% else %}
                                        src="{% static 'Cybersport/dislike.png' %}"
                                    {% endif %}>
                        </a>
                    </h5>
                </div>
                <div class="card-footer text-muted">
                    {{ post.date }}
                </div>
            </div>
        </div>
        <br>
        <h3>Комментарии:</h3>
        {% if request.user.is_authenticated %}
            {% comment_form 'post' post %}
        {% else %}
            <h4><a href="{% url 'authorization' %}">Авторизуйтесь</a> чтобы оставлять комментарии</h4>
        {% endif %}

        <br>
        <br>

        {% comments_block post %}
    </div>
{% endblock body %}
